// Миксин для создания responsive значений
@mixin responsive($property, $sm, $md, $lg: null) {
  #{$property}: $sm;

  @media (min-width: 300px) {
    #{$property}: $md;
  }

  @if $lg {
    @media (min-width: 900px) {
      #{$property}: $lg;
    }
  }
}

.card {
  gap: 16px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid;
  border-radius: 16px;
  @include responsive(border-color, green, blue, red);
}
