.container {
  width: min(50em, 95%); // <----
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid white;
  padding: min(30px, 6%); // <----
  border-radius: 16px;

  .title {
    font-size: clamp(1.8rem, 10vw, 3rem); // <----
  }
}
